@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans), sans-serif;
  --font-nohemi: var(--font-nohemi), sans-serif;
}

@utility text-size-large {
  font-size: clamp(3.5rem, 9vw, 7.5rem);
  line-height: 1.0;
  letter-spacing: -0.03em;
}

@utility text-size-medium {
  font-size: clamp(1.75rem, 3.5vw, 2.5rem);
  line-height: 1.25;
  letter-spacing: -0.02em;
}

@utility text-size-small {
  font-size: clamp(1.25rem, 1.8vw, 1.5rem);
  line-height: 1.6;
  letter-spacing: -0.01em;
}

@keyframes marquee-l2r {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

@utility animate-marquee-l2r {
  animation: marquee-l2r 15s linear infinite;
}

@keyframes marquee-single-l2r {
  from {
    transform: translateX(calc(-50vw - 50%));
  }
  to {
    transform: translateX(calc(50vw + 50%));
  }
}

@utility animate-marquee-single-l2r {
  animation: marquee-single-l2r 10s linear infinite;
}
